* {
	font-family: 'Microsoft JhengHei', sans-serif;
}

body {
	padding-top: 50px;
	background-color: rgb(248 250 252);
}

// 選單按鈕
.menu_btn {
	cursor: pointer;
	position: fixed;
	z-index: 200;
	top: 15px;
	left: 15px;
	width: 45px;
	height: 45px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_btn.active {
	box-shadow: none;
}

.menu_btn_bar {
	width: 30px;
	height: 4px;
	background-color: rgb(156 163 175);
	margin: 3px 0;
	transition: 0.4s ease-in-out;
	border-radius: 3px;
}

.menu_btn.active .menu_btn_bar1 {
	transform: rotate(-45deg) translate(-6px, 6px);
}
  
.menu_btn.active .menu_btn_bar2 {
	opacity: 0;
}

.menu_btn.active .menu_btn_bar3 {
	transform: rotate(45deg) translate(-8px, -9px);
}

// 選單
.mobile_header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	background-color: rgb(249 250 251);
	clip-path: circle(40px at 0% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
}

.mobile_header.show {
	clip-path: circle(100%);
    pointer-events: all;
}

.mobile_nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.mobile_nav_link {
	color: rgb(148 163 184);
	font-weight: 700;
	transition: all 0.4s ease-in-out;
	font-size: 24px;
	margin-bottom: 40px;
	width: 110px;
}

.mobile_nav_link:hover,
.mobile_nav_link.active {
	color: #cbd5e1;
}

.mobile_nav_link i {
	width: 30px;
}

.section_title {
	color: rgb(148 163 184);
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
}

.task_category_container{
	margin-bottom: 30px;
}

.swiper {
	width: 100%;
	height: 100%;
}

.task_category_swiper {
	cursor: grab;

	.swiper-wrapper {
		padding-bottom: 10px;
	}

	.task_category_swiper_slide {
		width: 60%;
		border-radius: 10px;
		padding: 20px;
		box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
		font-size: 18px;
		background: #fff;
	}

	@media (max-width: 575px) {
		.task_category_swiper_slide {
			width: 70%;
		}
	}

	.task_category_swiper_slide_subtitle {
		color: rgb(203 213 225);
		margin-bottom: 10px;
	}

	.task_category_swiper_slide_title {
		color: rgb(15 23 42);
		font-size: 24px;
	}
}

.task_list {
	border-radius: 15px;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	padding: 25px;
	background-color: #fff;
}

.task_list_check {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	appearance: none;
	border: 2px solid rgb(203 213 225);
	margin-right: 15px;
	position: relative;
	flex-shrink: 0;
	cursor: pointer;

	&:checked {
		background-color: rgb(203 213 225);
	}

	&::after {
		content: "";
		width: 8px;
		height: 13px;
		position: absolute;
		border-right: 3px solid #fff;
		border-bottom: 3px solid #fff;
		transform: rotate(45deg);
		top: 3px;
		right: 7px;
		opacity: 0;
	}

	&:checked::after {
		opacity: 1;
	}

	&:checked + .task_list_title {
		text-decoration: line-through;
	}
}

.task_add_btn {
	position: fixed;
	right: 15px;
	bottom: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: rgb(100 116 139);
	border-radius: 50%;
	width: 60px;
    height: 60px;
    line-height: 1.3;
	cursor: pointer;

	&:hover {
		background-color: rgb(71 85 105);
	}
}

.totop_btn {
	position: fixed;
	right: 15px;
	bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: rgb(100 116 139);
	border-radius: 50%;
	width: 60px;
    height: 60px;
    line-height: 1.3;
	cursor: pointer;

	&:hover {
		background-color: rgb(71 85 105);
	}
}